<% if @tasks.empty? %>
	<h3>Aucune tache en base de donnée</h3>
<% else %> 
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Date</td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @tasks.each do |task| %>
			<tr>
				<td><%= task.date%></td>
				<td><%= link_to "Edit", edit_task_path(task)%></td>
				<td><%= link_to "Delete", task, :method => :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<%= link_to "Create", new_task_path %>