<% if @work_types.empty? %>
	<h3>Aucun equipement en base de donnée</h3>
<% else %> 
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Label</td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<% @work_types.each do |work_type| %>
			<tr>
				<td><%= work_type.label%></td>
				<td><%= link_to "Edit", edit_work_type_path(work_type)%></td>
				<td><%= link_to "Delete", work_type, :method => :delete %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<%= link_to "Create", new_work_type_path %>