<h1>Affichage d'un Equipement</h1>
<ul>
	<li>
		Label : <%= @work_type.label %>
	</li>
	<li>
		Création : <%= @work_type.created_at %>
	</li>
	<li>
		Modification : <%= @work_type.updated_at %>
	</li>
</ul>