<% if @equipment_types.empty? %>
	<h3>Aucun equipement en base de donnée</h3>
<% else %> 
	<% @equipment_types.each do |equipment_type| %>
		<ul>
			<li>
				<%= equipment_type.label%> 
			</li>
			<li>
				<%= link_to "Edit", edit_equipment_type_path(equipment_type)%>
			</li>
			<li>
				<%= link_to "Delete", equipment_type, :method => :delete %>
			</li>
		</ul>
	<% end %>
<% end %>
<%= link_to "Create", new_equipment_type_path %>