<h1>Affichage d'un type d'equipement</h1>
<ul>
	<li>
		Login : <%= @equipment_type.label %>
	</li>
	<li>
		Password : <%= @equipment_type.created_at %>
	</li>
	<li>
		Email : <%= @equipment_type.updated_at %>
	</li>
</ul>